@import url('https://fonts.googleapis.com/css?family=Space+Mono|Courier+Prime|Cutive+Mono|Overpass+Mono|Fira+Code|Special+Elite');

html {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    line-height: 1.375;
}

body {
    /* font-family: 'Space Mono', 'Courier Prime', 'Cutive Mono', 'Overpass Mono', 'Fira Code'; */
    /* font-family: 'Courier Prime', 'Cutive Mono', 'Space Mono', 'Overpass Mono', 'Fira Code'; */
    /* font-family: 'Cutive Mono', 'Overpass Mono', 'Courier Prime', 'Space Mono', 'Fira Code'; */
    /* font-family: 'Fira Code', 'Cutive Mono', 'Overpass Mono', 'Courier Prime', 'Space Mono'; */
    font-family: 'Overpass Mono', 'Courier Prime', 'Cutive Mono', 'Space Mono', 'Fira Code';
    margin: 40px auto;
    width: 80%;
    color: #333;
    font-size: 18px;
    background-color: rgb(206, 242, 239);
}

nav{
    font-weight: bold;
}

nav.header-menu {
    vertical-align: middle;
}

nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 25px;
}

a {
    text-decoration: none;
    color: #008080;
}

a:hover {
    text-decoration: none
}

p {
    /* font-size: 1.5em; */
    font-size: 20px;
}

header{
    background-color: rgba(47, 90, 47, 0);
    opacity: 1;
}

footer {
    margin-top: auto;
    background-color: rgba(47, 90, 47, 0);
    opacity: 0.3;
    border-top: 2.5px solid #d5d5d5;
    /* font-size: 1.2em; */
    /* font-size: 20px; */
}

ul.posts { 
    margin: 20px auto 40px;
    /* font-size: 20px; */
    /* font-size: 1.5em; */
}

ul.posts li {
    list-style: none;
}

ul.ops,  ul.embedtools, ul.cadmtools { 
    margin: 20px auto 40px; 
    /* font-size: 1.5em; */
    /* font-size: 20px; */
    list-style: none;
}


button, html, input, select, textarea {
    color: #343434;
}

#responsive-img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

#just-above-thumbnail-img {
    max-width: 50%;
    height: auto;
    margin: auto;
    vertical-align: middle;
    border-radius: 8px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-rows: minmax(100px, auto); 
}
