@import url('https://fonts.googleapis.com/css?family=Space+Mono|Courier+Prime|Cutive+Mono|Overpass+Mono|Fira+Code|Special+Elite');

html {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: .875em;
    line-height: 1.375;
}

body {
    margin: 40px auto; 
    width: 80%;
    /* font-family: 'Space Mono', 'Courier Prime', 'Cutive Mono', 'Overpass Mono', 'Fira Code'; */
    /* font-family: 'Courier Prime', 'Cutive Mono', 'Space Mono', 'Overpass Mono', 'Fira Code'; */
    font-family: 'Overpass Mono', 'Courier Prime', 'Cutive Mono', 'Space Mono', 'Fira Code';
    /* font-family: 'Cutive Mono', 'Overpass Mono', 'Courier Prime', 'Space Mono', 'Fira Code'; */
    /* font-family: 'Fira Code', 'Cutive Mono', 'Overpass Mono', 'Courier Prime', 'Space Mono'; */

    /* font-size: 1.5em; */
    color: #333;
}

nav{
    font-weight: bold;
}

nav.header-menu {
    vertical-align: middle;
}

nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 25px;
}

a {
    text-decoration: none;
    color: #008080;
}

a:hover {
    text-decoration: none
}

p {
    font-size: 1.5em;
}

header{
    background-color: rgba(47, 90, 47, 0);
    opacity: 1;
}

footer {
    margin-top: auto;
    background-color: rgba(47, 90, 47, 0);
    opacity: 0.3;
    border-top: 1.5px solid #d5d5d5;
    font-size: 1.2em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

ul.ops,  ul.embedtools, ul.cadmtools { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
    list-style: none;
}


button, html, input, select, textarea {
    color: #343434;
}
