body {
    margin: 40px auto; 
    width: 70%;
}

nav ul, footer ul {
    /* font-family: 'GT America Mono','system-ui','sans-serif'; */
    font-family:'Verdana','Arial','Sans-Serif';
    /* font-family:'Helvetica', 'Arial', 'Sans-Serif'; */
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, div.footer ul li {
    display: inline;
    margin-right: 25px;
}

a {
    text-decoration: none;
    color: #008080;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 2em;
    /* font-family:'Helvetica', 'Arial', 'Sans-Serif'; */
    font-family:'Verdana','Arial','Sans-Serif';
    /* font-family: 'GT America Mono','system-ui','sans-serif'; */
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

div.header{
    background-color: rgba(47, 90, 47, 0);
    opacity: 1;
}

div.footer {
    background-color: rgba(47, 90, 47, 0);
    opacity: 0.3;
    border-top: 1px solid #d5d5d5;
    font-size: 1.2em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

ul.ops,  ul.embedtools { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.ops li, ul.embedtools li {
    list-style: none;
}

html {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: .875em;
    line-height: 1.375;
}

button,html,input,select,textarea {
    color: #343434;
    font-family: 'Verdana', 'Arial', 'sans-serif';
    /* font-family: 'GT America Mono', 'system-ui', 'sans-serif'; */
}
