<footer>
	<nav>
		<a>Gutenkraft Labs, Inc &copy;
			<script>document.write(new Date().getFullYear());</script>
		</a>&nbsp;&nbsp;&nbsp;
		<a href="https://twitter.com/gutenkraft">Twitter <i class="icofont-twitter"></i>&nbsp; </a>|
		<a href="https://www.youtube.com/channel/UC7J4ZVxLPzPHqExVZnk1Ykw">Youtube&nbsp;<i class="icofont-youtube"></i>&nbsp;</a>|
		<a href="https://www.instagram.com/gutenkraftlabs/">Instagram&nbsp;<i class="icofont-instagram"></i>&nbsp;</a>|
		<a href="mailto:datafilik@gmail.com" title="Webmaster">Webmaster&nbsp;<i class="icofont-mail"></i>&nbsp;</a>| <!--iconfonts used-->
	</nav>	
</footer>

