<div class="footer">
<!-- <div class="footer text-start" > -->
	<ul>
		<li>
			Gutenkraft Labs, Inc &copy; <script>document.write( new Date().getFullYear() );</script> &nbsp;&nbsp;  All Rights Reserved.&nbsp;&nbsp; <a href="mailto:datafilik@gmail.com" title="Contact Webmaster">Contact Webmaster</a>
		</li>
	</ul>

	<nav>
		<a href="https://twitter.com/gutenkraft">TWITTER</a> |
		<a href="https://www.youtube.com/channel/UC7J4ZVxLPzPHqExVZnk1Ykw">YOUTUBE</a> |
		<a href="https://www.instagram.com/gutenkraftlabs/">INSTAGRAM</a>
	</nav>
	
</div> <!-- /footer -->

