<footer>

	<!-- <ul>
		<li>
			Gutenkraft Labs, Inc &copy; <script>document.write( new Date().getFullYear() );</script> &nbsp;&nbsp;
		</li>
		<li><a href="https://twitter.com/gutenkraft">Twitter</a></li>
		<li><a href="https://www.youtube.com/channel/UC7J4ZVxLPzPHqExVZnk1Ykw">Youtube</a></li>
		<li><a href="https://www.instagram.com/gutenkraftlabs/">Instagram</a></li>
		<li><a href="mailto:datafilik@gmail.com" title="Webmaster">Webmaster</a></li>
	</ul> -->

	<nav>
		<a>Gutenkraft Labs, Inc &copy;
			<script>document.write(new Date().getFullYear());</script>
		</a>&nbsp;&nbsp;
		<a href="https://twitter.com/gutenkraft"><i class="icofont-twitter"></i>Twitter</a>
		<a href="https://www.youtube.com/channel/UC7J4ZVxLPzPHqExVZnk1Ykw"><i class="icofont-youtube"></i>Youtube</a>
		<a href="https://www.instagram.com/gutenkraftlabs/"><i class="icofont-instagram"></i>Instagram</a>
		<a href="mailto:datafilik@gmail.com" title="Webmaster"><i class="icofont-mail"></i>Webmaster</a> <!--iconfonts used-->
	</nav>
	
</footer> <!-- /footer -->

