<header> 
	<div class="container">

		<div class="row">
			<a href="/" id="logo">
				<img src="/img/gk_logo_v2.png" class="logo" alt="logo" valign="left">&nbsp;&reg;
			</a>&nbsp;&nbsp;<br>
		</div>
		
		<div class="row">
			<nav class = "header-menu">
			<!-- <nav class="menu"> -->
				<a href="/">HOME</a> 
				<a href="/projects">PROJECTS</a> 
				<a href="/ops">OPS</a> 
				<a href="/about">ABOUT US</a> 
				<a href="/careers">JOIN US</a> 
				<a href="/blog">BLOG</a> 	
			</nav>
		</div>

	</div><!--/container-->
	<br>
	<!-- <a href = "/" id = "logo">
			<img src="/img/gk_logo_v2.png" class = "logo" alt="logo" valign = "left">&nbsp;&reg;
		</a> -->
	<!-- <nav class = "menu" valign = "right">
		<ul>
			<li><a href="/">HOME</a></li>
			<li><a href="/projects">PROJECTS</a></li>
			<li><a href="/ops">OPS</a></li>
			<li><a href="/about">ABOUT US</a></li>
			<li><a href="/careers">JOIN US</a></li>
			<li><a href="/blog">BLOG</a></li>
		</ul>      
	</nav> -->
</header><!--/header-->
