<div class="header"> 
	<a href = "/" id = "logo">
		<img src="/img/gk_logo_v2.png" class = "logo" alt="logo" valign = "left">&nbsp;&reg;
	</a>

	<nav class = "menu" valign = "right">
	<!-- <nav class="nav"> -->
		<!-- <ul class="nav justify-content-end"> -->
		<ul>
			<li><a href="/">HOME</a></li>
			<li><a href="/projects">PROJECTS</a></li>
			<li><a href="/ops">OPS</a></li>
			<li><a href="/about">ABOUT US</a></li>
			<li><a href="/careers">JOIN US</a></li>
			<li><a href="/blog">BLOG</a></li>
		</ul>      
	</nav>
</div><!--/header-->
